.App {
  position: absolute;
  display: block;
  width: 60%;
  height: 60%;

  top: 20%;
  left: 20%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
